.login__title {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin-top: 50px;
}

.login__description {
  text-align: center;
  font-weight: 300;
}

.login__form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(73, 118, 25);
  border-radius: 10px;
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.login__form-title {
  text-align: center;
}

.login__text {
  font-weight: 400;
}

.login__input {
  margin-left: 10px;
  border-radius: 15px;
  background: none;
  border: 1px solid gray;
}

.login__input::placeholder {
  color: white;
}

.login__button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  background-color: rgb(79, 79, 79);
  color: white;
  border: none;
  cursor: pointer;
}

.login__account {
  text-align: center;
  margin-top: 15px;
}

.login__toreg {
  background: none;
  border: none;
  color: rgb(112, 180, 39);
  cursor: pointer;
  margin-left: 10px;
}
