.about {
  background-color: rgb(39, 39, 39);
  padding-top: 80px;
  padding-bottom: 80px;
}

.about__title {
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.about__title-span {
  color: rgb(112, 180, 39);
}

.about__desctiption {
  margin-top: 30px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about__title {
    font-size: 22px;
  }

  .about__desctiption {
    font-size: 20px;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about__title {
    font-size: 20px;
  }

  .about__desctiption {
    font-size: 18px;
    max-width: 100%;
  }
}
