@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css");

body {
  background-color: rgb(245, 245, 245);
  font-family: "Montserrat";
}

ul,
ol {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  transition: color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
              text-shadow 0.4s cubic-bezier(0.075, 0.82, 0.165, 1),
              transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

h1 {
  transition: transform 0.3s ease-out, color 0.3s ease-out, text-shadow 0.3s ease-out;
}

h1:hover {
  transform: scale(1.05);
  color: #1c7f1e;
}

h2 {
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), color 0.5s;
}

h2:hover {
  transform: scale(1.1);
  color: #2980b9;
}

h3 {
  transition: transform 0.4s ease-in-out, text-shadow 0.4s ease-in-out;
}

h3:hover {
  transform: scale(1.08);
}

h4 {
  transition: transform 0.8s linear, color 0.8s linear;
}

h4:hover {
  transform: scale(1.1);
}

h5 {
  transition: transform 0.2s ease, color 0.2s ease;
}

h5:hover {
  transform: scale(1.1);
  color: #8e44ad;
}

p {
  transition: transform 0.3s ease-out, color 0.3s ease-out;
}

p:hover {
  transform: translateY(-2px);
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  display: inline-block;
}



button {
  padding: 0;
  transition: all 0.3s ease-in-out;
}

img {
  transition: transform 0.5s ease-in-out;
  transform-origin: center center; 
  display: block; 
}

img:hover {
  transform: scale(1.2); 
}