
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css" integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg==');

body {
 background-color: rgb(39, 39, 39);
 font-family: 'Roboto';
 color: #fff;
}


ul, ol{
  list-style: none;
  padding: 0;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}


a{
  text-decoration: none;
}